@media (max-width: 1439px) {
	.sidepanel {
		display: none;
	}
}

@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}
	.about {
		&__wrapper {
			grid-template-columns: 360px 540px;
			column-gap: 50px;
		}
		&__skills {
			column-gap: 20px;
			&-item {
				grid-template-columns: 40px 200px;
				column-gap: 15px;
			}
		}
	}
	.resume {
		&__wrapper {
			padding: 60px 50px 0 50px;
			grid-template-columns: repeat(2, 400px);
			column-gap: 60px;
		}
		&__item {
			&:before {
				top: 53px;
			}
			&-head {
				padding-top: 35px;
			}
			&-icon {
				top: 35px;
			}
		}
	}
	.skills {
		&__items {
			margin: 60px 55px 0 55px;
			grid-template-columns: repeat(auto-fit, 270px);
			justify-content: space-between;
		}
		&__ratings {
			margin: 80px 100px 0 100px;
			grid-template-columns: repeat(auto-fit, 350px);
			justify-content: space-between;
		}
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 720px;
	}
	.title {
		&_fz48 {
			font-size: 42px;
		}
		&_fz36 {
			font-size: 30px;
			line-height: 48px;
		}
	}
	.promo {
		&__title {
			width: 450px;
			line-height: 52.5px;
		}
	}
	.about {
		padding-top: 60px;
		&__wrapper {
			grid-template-columns: 300px 380px;
			row-gap: 25px;
		}
		&__skills {
			grid-template: repeat(2,minmax(85px,auto)) / 380px;
			row-gap: 15px;
			&-item {
				grid-template-columns: 40px 320px;
				column-gap: 20px;
			}
		}
	}
	.resume {
		&__wrapper {
			padding: 50px 0 0 0;
			grid-template-columns: repeat(2, 340px);
			column-gap: 40px;
		}
		&__item {
			&:before {
				top: 43px;
			}
			&-head {
				padding-top: 25px;
			}
			&-icon {
				top: 25px;
			}
		}
	}
	.skills {
		&__items {
			margin: 60px 60px 0 60px;
		}
		&__ratings {
			margin: 80px 0 0 0;
			column-gap: 20px;
		}
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 540px;
	}
	.title {
		&_fz48 {
			font-size: 31px;
		}
	}
	.promo {
		&__title {
			width: 335px;
			line-height: 39px;
		}
	}
	.about {
		padding-top: 40px;
		&__wrapper {
			grid-template: 400px auto auto / 1fr ;
			column-gap: 40px;
		}
		&__photo {
			grid-row: unset;
			img {
				object-position: 100% 25%;
			}
		}
		&__skills {
			grid-template: repeat(2, minmax(115px, auto)) / repeat(2, minmax(260px, auto));
			grid-auto-rows: 1fr;
			column-gap: 20px;
			&-item {
				grid-template-columns: 40px 200px;
				column-gap: 15px;
			}
		}
	}
	.resume {
		&__wrapper {
			padding-top: 30px;
			grid-template: auto auto / 1fr;
			row-gap: 30px;
		}
	}
	.skills {
		&__items {
			margin: 60px auto 0 auto;
			justify-content: center;
		}
		&__ratings {
			margin: 80px auto 0 auto;
			justify-content: center;
			&-line {
				width: 100%;
			}
		}
	}
}

@media (max-width: 576px) {
	.container {
		width: 100%;
		padding: 0 10px;
	}
	.title {
		&_fz48 {
			font-size: 26px;
		}
		&_fz36 {
			font-size: 24px;
		}
		&__section {
			&-subtitle {
				line-height: 36px;
			}
		}
	}
	.hamburger {
		right: 20px;
	}
	.menu {
		&__block {
			width: 250px;
			padding-left: 20px;
		}
	}
	.promo {
		background: url('../img/main-bg.jpg') no-repeat 55% / cover;
		&__title {
			width: 300px;
			line-height: 39px;
		}
		&__btns {
			margin-top: 32px;
		}
	}
	.about {
		&__wrapper {
			grid-template: 340px auto auto / 1fr ;
		}
		&__skills {
			grid-template-columns: 1fr;
		}
	}
	.skills {
		margin-top: 40px;
		&__items {
			margin-top: 20px;
			row-gap: 20px;
			justify-content: center;
		}
		&__ratings {
			margin-top: 40px;
			grid-template-columns: 1fr;
		}
	}
}