.sidepanel {
    position: fixed;
    top: 220px;
    left: 50px;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 340px;
    z-index: 3;
    &__link {
        &:hover {
            transform: rotate(90deg);
            transition: transform 0.5s;
            svg path {
                fill: $main-color;
                transition: all .5s;
            }
        }
    }
    &__divider {
        width: 2px;
        height: 70px;
        background-color: #fff;
    }
    &__text {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        font-weight: bold;
        color: #fff;
    }
}